body {
    text-align: center;
    color: aliceblue;

}



#headerText {
    margin: auto;
    width: 70%;
    font-family: Tahoma, Verdana;
    font-size: 36px;
}

body{
    background-color: rgba(0, 0, 0, 0.84);
}

#place, #temperature, #description, #copyrights {
    color: white;
    font-size: 26px;
    font-family:  Tahoma, Verdana;
}


#weather {
    text-align: center;
}
