body {
    text-align: center;
    color: aliceblue;

}

#headerText {
    margin: auto;
    width: 70%;
    font-family: "Segoe UI Light";
    font-size: 36px;
}

body{
    background-color: #020206;
}

#place, #temperature, #description, #copyrights {
    color: white;
    font-size: 26px;
    font-family: "Segoe UI Light";
}


#weather {
    text-align: center;
}
