body {
    text-align: center;
    color: aliceblue;

}



#headerText {
    margin: auto;
    width: 70%;
    font-family: "Rosarina", Tahoma, Verdana;
    font-size: 36px;
}

body{
    background-color: rgba(8, 8, 8, 0.85);
}

#place, #temperature, #description, #copyrights {
    color: white;
    font-size: 26px;
    font-family: "Rosarina",  Tahoma, Verdana;
}


#weather {
    text-align: center;
}
